{"deploymentTargets":[{"version":1,"name":"test-deployment","flinkCluster":{"version":1,"production":false,"port":8081,"kind":"flinkOperator","host":"http://flink-jobmanager","config":{"taskManager.ram":"2G","taskManager.numberOfTaskSlots":1,"rdb":true,"par":1,"numberOfTaskManagers":1,"namespace":"cyn","maxJobCreationAttempts":2,"logConfiguration":{},"jobManager.ram":"1G","flinkConfiguration":{}}},"dataSources":[{"version":1,"spec":{"name":"kafka","brokers":"kafka.cyn:9071"},"lock_version":3,"kind":"kafka"}]}]}